*{margin: 0; border: 0;}
@font-face{font-family: Brein;src: url(Fuente1.TTF);}
body{background-color: crimson;}
img{width: 65px; justify-content: space-between;}
nav{background-color: burlywood; padding: 40px;}
li{list-style: none; display: inline-block;}
a{text-decoration: none;  text-align: center; color: #ffffff; padding: 50px; font-family: Brein; font-size: 25px;} 
h1{color: #ffffff;font-size: 50px; text-align: center; font-family:Brein; justify-content: space-between;} 


